body{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    margin:0;
    padding: 20px 40px;
  }
a {
  text-decoration: none;
  color: black;
}
*{
  box-sizing: border-box;
}